# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\gmall-1125\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
